<link rel="stylesheet" href="/css/products.css" />

<h1>Products</h1>
<div class="container">
  <div class="row">
    <% for(let item of products) { %>
      <div class="col-4 d-flex flex-column align-items-center">
        <div class="img">
          <img src="<%= item.image %>" alt="">
        </div>
        <div class="title">
          <h3><%= item.name %></h3>
        </div>

        <div class="email">
          <p><%= item.email %></p>
        </div>
      </div>
    <% } %>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item <%= (active === 1) ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= (active !== 1) ? active - 1 : '' %>" tabindex="-1">Previous</a>
      </li>
      <% for(let i = 0; i < showPag.length; i++) { %>
        <li class="page-item <%= (active === showPag[i]) ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= showPag[i] %>">
            <%= showPag[i] %>
          </a>
        </li>
      <% } %>
      <li class="page-item <%= (active === totalPag) ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= (active !== totalPag) ? active + 1 : '' %> ">Next</a>
      </li>
    </ul>
  </nav>
</div>
